$black: #000000;
$white: #ffffff;

$gray: (
  light: #f1f0f0,
  main: #bebebe,
  dark: #999999,
);

$primary: (
  main: #4485f2,
  dark: #0b4499,
  contrastText: $white,
);

$error: (
  light: #e57373,
  main: #f44336,
  dark: #d32f2f,
  contrastText: $white,
);

$warning: (
  light: #ffb74d,
  main: #ff9800,
  dark: #f57c00,
  contrastText: $black,
);

$info: (
  light: #64b5f6,
  main: #2196f3,
  dark: #1976d2,
  contrastText: $black,
);

$success: (
  light: #81c784,
  main: #4caf50,
  dark: #388e3c,
  contrastText: $black,
);
