@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');
@import '../styles/colors.scss';
@use "sass:map";

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;

  background-color: map-get($map: $gray, $key: 'light');
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
}

.view-title {
  margin-top: 20px;
  margin-bottom: 20px;
  color: map-get($map: $gray, $key: 'dark')
}
