@use "sass:map";
@import '../../styles/colors.scss';
@import '../../styles/typography.scss';

$navbar-height: 160px;
$navbar-logo-height: 100px;

.navbar-offset {
  display: block;
  height: $navbar-height;
}

.Navbar {
  display: flex;
  background-color: $white;
  position: fixed;
  top: 0;

  height: $navbar-height;
  width: 100vw;

  box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.36);

  nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    z-index: 10;
    transition: all 0.3s;

    div {
      display: flex;
      align-items: center;
    }

    #navbar-title-mark {
      text-align: center;
      display: inline;
      font-size: 20px;
      font-weight: bold;
      color: #ffffff;
      margin-left: auto;
      border-right: 3px solid #000;
    }

    .brand {
      display: flex;
      align-items: center;
      box-sizing: border-box;

      .logo img {
        height: $navbar-logo-height;
      }
    }
  }

  div:nth-child(1) {
    padding-left: 40px;
  }

  div:nth-last-child(1) {
    padding-right: 40px;
  }
}
