@use "sass:map";
@import '../../styles/colors.scss';
@import '../../styles/typography.scss';

$primary-color: #4485f2;
$primary-color-light: #98e354;
$primary-color-dark: #0b4499;

$secondary-color: #f1f0f0;
$secondary-color-light: #ed444d;
$secondary-color-dark: #dadada;

$white-text: #000;

Footer {
  background-color: $white;
  bottom: 0;
  display: grid;
  grid-template-columns: 3fr 2fr 2fr;
  gap: 20px;
  padding: 20px;
  box-shadow: -2px -1px 3px 0px rgba(0, 0, 0, 0.36);

  position: relative;
  z-index: 100;
}

#logo-footer {
  grid-row-start: 1;
  grid-row-end: 3;
  padding: 20px;
  border-right: 3px solid map-get($map: $gray, $key: 'main');

  h1 {
    margin: 20px;
    text-align: center;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 200px;
    justify-self: center;
  }
}

.footer-box {
  padding: 20px;

  a {
    @extend .subtitle1;
  }

  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid map-get($map: $gray, $key: 'main');
    margin: 1em 0;
    padding: 0;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    text-align: center;
  }
}

.footer-box:nth-of-type(odd) {
  border-left: 3px solid map-get($map: $gray, $key: 'main');
}

.copyright {
  text-align: center;
  margin: auto;
  grid-column-start: 2;
  grid-column-end: 4;
}
