@import '../IndexCard/IndexCard.scss';

.ProfileCard {
  @extend .IndexCard;
  margin-bottom: 20px;

  .card__image {
    grid-column: span 3;
    object-fit: cover;
  }

  .card__info {
    &__user {
      img {
        max-width: 100px;
        max-height: 100px;
        border-radius: 50%;
      }
    }
  }
}
